.container {
  width: 100%;
}

.book, .chapter, .verse {
  display: inline-block;
  margin-right: 5px;
} 

.verse sup {
  color: #aaa;
  font-size: 8px;
  margin-right: 2px;
}

.action-wrapper {
  float:right;
  margin-top:-71px;
}

.bb-btn-back {}

.bb-btn-settings {
  margin-left: 10px;
}


@media only screen and (max-width : 600px){
  .action-wrapper {
    margin-top:-40px;
  }
}
