.container {
  width: 100%;
}

.book, .chapter, .verse {
  display: inline-block;
  margin-right: 5px;
} 

.verse sup {
  color: #aaa;
  font-size: 8px;
  margin-right: 2px;
}

.action-wrapper {
  position: absolute;
  right: 20px;
  top: 40px;
}

.bb-btn-back {}

.bb-btn-settings {
  margin-left: 10px;
}

.verses-wrapper {
  background-color: #efefef;
}

.verses-wrapper .col {
  margin-bottom: 15px;
  background-color: white;
}


@media only screen and (max-width : 600px){
  .action-wrapper {
    top: 5px;
  }
}
