<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Project BB</title>

  <!--Import materialize.css-->
    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">
  <link type="text/css" rel="stylesheet" href="css/style.css"  media="screen,projection"/>

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script type="text/javascript" src="libs/taffydb/taffy.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script type="text/javascript" src="app.js"></script>
</head>
<body ng-app="webApp">
  <div ng-controller="AppController">
    <div class="container">
      <h1 class="hide-on-small-only">{{moo}}</h1>
      <p class="hide-on-med-and-up">{{moo}}</p>

      <a ng-show="selectedChapterId" ng-click="setChapterId(0)" class="btn-floating btn-small red bb-btn-back"><i class="large mdi-hardware-keyboard-arrow-left"></i></a>
      <a ng-show="selectedBookId&&!selectedChapterId" ng-click="setBookId(0)" class="btn-floating btn-small red bb-btn-back"><i class="large mdi-hardware-keyboard-arrow-left"></i></a>
  
      <div id="book1" class="book-wrapper">
        <div ng-show="!selectedBookId" class="book" ng-repeat="header in bookOne.getHeaders()">
          <a class="btn-flat"href="#/{{header.bookId}}" ng-click="setBookId(header.bookId)">{{header.headerShort||header.headerLong|limitTo:4||header.bookId}}</a>
        </div>
        <div ng-show="!selectedChapterId">
          <div class="chapter" ng-repeat="chapterId in bookOne.getChapters()">
            <a class="btn-flat" href="#/{{selectedBookId}}/{{chapterId}}" ng-click="setChapterId(chapterId)">{{chapterId}}</a>
          </div>
        </div>
        <div class="row verses-wrapper">
          <div class="col s12 m6">
            <div class="verse" ng-repeat="verse in bookOne.getVerses()">
              <sup>{{verse.verseId}}</sup>{{verse.text}} 
            </div>
          </div>
          <div class="col s12 m6">
            <div class="verse" ng-repeat="verse in bookTwo.getVerses()">
              <sup>{{verse.verseId}}</sup>{{verse.text}} 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- .container -->
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
</body>
</html>
