<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script type="text/javascript" src="libs/taffydb/taffy.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script type="text/javascript" src="app.js"></script>
</head>
<body ng-app="webApp">
  <div ng-controller="AppController">
    <h1>{{moo}}</h1>

    <div id="book1">
      <div ng-repeat="bookId in bookOne.getBookIds()">
        <a href="#/{{bookId}}" ng-click="setBookId(bookId)">{{getBookOneHeader(bookId).headerShort||bookId}}</a>
      </div>
      <div ng-repeat="chapterId in chapterIds">
        <a href="#/{{selectedBookId}}/{{chapterId}}" ng-click="setChapterId(chapterId)">{{chapterId}}</a>
      </div>
      <div ng-repeat="verse in bookOneVerses">
        <sup>{{verse.verseId}}</sup>{{verse.text}} 
      </div>
      <hr />
      <div ng-repeat="verse in bookTwoVerses">
        <sup>{{verse.verseId}}</sup>{{verse.text}} 
      </div>
    </div>
  </div>
  
</body>
</html>
